/* common rules for all fields */
.rw-label {width: 20%}

/* select field */
.rw-select {height: auto !important}

/* uploaded image */
.rw-images li {margin: 0 10px 10px 0; float: left; width: 150px; height: 100px; text-align: center; border: 3px solid #ccc; cursor: move; position: relative}
.rw-images img {width: 150px; height: 100px}
.rw-images a {position: absolute; bottom: 0; right: 0; color: #fff; background: #000; font-weight: bold; padding: 5px}

/* upload button */
.rw-upload-button {float: left; clear: both; margin-top: 10px}

/* time picker */
.ui-timepicker-div {font-size: 0.9em}
.ui-timepicker-div .ui-widget-header {margin-bottom: 8px}
.ui-timepicker-div dl {text-align: left}
.ui-timepicker-div dl dt {height: 25px}
.ui-timepicker-div dl dd {margin: -25px 0 10px 65px}
.ui-timepicker-div td {font-size: 90%}